<ion-header>
  <ion-navbar>
    <ion-title>
     Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-list>
<form [formGroup]="myForm">
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" formControlName="email" [class.invalid]="!myForm.controls.email.valid && (myForm.controls.email.dirty || submitAttempt)"></ion-input>
  </ion-item>

  <ion-item *ngIf="!myForm.controls.email.valid  && (myForm.controls.email.dirty || submitAttempt)">
                <p style="color: #ea6153;">Please enter a valid email.</p>
    </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" formControlName="password" [class.invalid]="!myForm.controls.password.valid && (myForm.controls.password.dirty || submitAttempt)"></ion-input>
  </ion-item>

    <ion-item *ngIf="!myForm.controls.password.valid  && (myForm.controls.password.dirty || submitAttempt)">
                <p style="color: #ea6153;">Please enter a valid password.</p>
    </ion-item>
</form>
</ion-list>


<div padding>
<button  ion-button block (click)="Login()" >Sign In</button>
</div>
</ion-content>
